* {
    margin: 0;
    padding: .5em;
    box-sizing: border-box;
    background-color: #ffa500;
}
nav{
    display: flex;
    align-items: flex-start;

}

.theChallenge{
    text-align: center;
    padding: 0;
    margin: .1em;
}

    img {
    display: flex;
    align-content: flex-start;
}

nav li {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
}